@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Sans+Tamil:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "palatino-italic";
  src: url("/public/fonts/palatinolinotype_italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "palatino-bold";
  src: url("/public/fonts/palatinolinotype_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: "palatino-bolditalic";
  src: url("/public/fonts/palatinolinotype_bolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: bolditalic;
}

.heroSection {
  background-color: #fff;
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;
}

.leftBox {
  text-align: center;
  text-align: start;
}

.rightBox {
  text-align: center;
  text-align: start;
}

.description {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1rem;
}

.findStoreText {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.goldText {
  color: #d5a755;
  font-family: "palatino-italic";
  font-style: italic;
}

.storeButton {
  background-color: #d5a755;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-size: 0.95rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.arrow {
  font-size: 1rem;
}

.heroText {
  font-size: 3rem;
  font-weight: 400;
  color: #161920;
  background: radial-gradient(50% 249% at 50% 50%, #fca412 0%, #1a1402 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "palatino-italic";
}

.findStoreText {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.italic {
  font-style: italic;
  color: #7a5b2d;
}

.goldItalic {
  font-style: italic;
  color: #b68e44;
}

.knowMoreLink {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0;
}

.knowMoreLink:hover {
  color: #d5a755;
}
